* {
    margin: 0;
    padding: 0;
}

header {
    padding: 2% 5% 5% 5%;
}

.header-buttons {
    gap: 10px;
}

.header-icons {
    gap: 10px;
}

main {
    padding: 0 5% 2% 5%;
}

.card {
    width: 25%;
    border: none;

}

.card button{
    justify-self: end;
    align-items: end;
}

#CardsContainer{
    align-items: center;
    gap: 10px;
}

#wallet{
    cursor: pointer;
}

#logo:hover{
    cursor: pointer;
}

#shop{
    cursor: pointer;
}
.btn-dark{
    transition: all 0.5s;
}
.btn-dark:hover{
  
    background-color: transparent;
    color: black;
}

.buttonsContainer{
    gap: 10px;
}